 /* fixed width */

.container {
  width: 1120px;
  max-width: none !important;
}

.card-columns {
    max-width:95vw;
    column-count: 3;
}



h1 {
    margin-bottom: 0.3rem;
}

nav {
   z-index: 999999; 
}

.card {
    height:25rem;
    border-radius: 0;
    border-width: 0;
    border-top-width: 0.7px;
    border-color: rgba(0,0,0,0.4) !important;

}


.top {
    padding-top: 0.9rem;
    height:6.6rem;
}

    .fontName {
        font-family:roboto; 
        font-size:0.9rem;
        font-weight: 500;

    }
    .author {
        font-family:roboto; 
        font-size:0.8rem;
        font-weight: 400;
        color: rgb(1,1,1,0.5);

    }

.middle {
}

.testText {

    color:black;
    width:100%;
    margin: 0;
    padding: 0;

    /* 모두 변수로 변경해야함 */
    font-family:nanum gothic;
    font-weight:400;
    font-size:2rem;
    letter-spacing:0rem;
    line-height:135%;
}

.ovl {
    opacity: 0;
    height: 30%;
    width: 99%;
    position: absolute;
    top:0;
/*    padding-top:4rem;*/
    z-index: 1;
/*    left:0.5%;*/
    vertical-align:top;
    
    height:100%;
    
    display:inline-flex;
    flex-flow:column nowrap;
/*
    transition: 0.3s;
    transition-property:background-color, opacity;
*/
}


.reset {
    margin-top: 0.9rem;
    height:2.3rem;
    width:100%;
/*    background-color: rgb(100,100,100,0.2);*/
    display:inline-flex;
    flex-flow:row nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

    .resetbutton {
        display:inline-flex;
        flex-flow:column nowrap;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        
    }
        h4{
            font-family: roboto;
            font-weight:500;
            text-align: center;
            color:#ff5252;
            font-size: 0.8rem;
            margin: 0;
            margin-top: -0.1rem;
        }

.slides {
    height:7.2%;
    width:100%;
    margin-top: 0.7rem;
    display:inline-flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}

    .value {
        height:100%;
        width:18%;
        justify-content: space-between;
        display:inline-flex;
        flex-flow:column nowrap;
    }


        h3 {
            font-family: roboto;
            font-weight:400;
            text-align: center;
            color:#ff5252;
            font-size: 0.8rem;
        }

        input {
            width:100%;
        }
   
.copyright {
    color: white;
}