.container {
  min-width: 1000px;
  max-width: 1100px !important;
}

.card-columns {
      min-width: 980px;
    max-width:95vw;
    column-count: 5;
}

 /* overlay */

.ovl {
    opacity: 0;
    transition: 0.3s;
    transition-property:background-color, opacity;
    padding: 0;
    margin: 0;

    
}

.ovl:hover {
    opacity: 1;
    background-color: rgb(0,0,0,0.2);
    padding: 0;
    margin: 0;
}


/* overlay white box*/

.ovl-box {
    height: 4rem; 
    width:100%;
    background-color:white; 
    padding:0;
    margin:0;
    position: absolute;
    bottom: 0;
}


.redbutton {
    background-color: #ff5252; 
    border:0;
    font-size:0.7rem;
}


.copyright {
    color: white;
}





#title{
    font-family: roboto;
    font-weight: 700;
    font-size: 1.6rem;
    opacity: 0.9;
    padding: 0;
    margin-top:-0.4rem;
}
#author{
    font-family: roboto;
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 0;
    margin:0;
}


.description {
    margin-bottom:0.9rem;
}


html, body {
    height: 100%;
}

h5 {
    font-family: roboto;
    font-size:1rem;
    color:#ff5252;
}
h6{
    font-family: roboto;
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.9;
    padding: 0;
    margin:0;
    margin-bottom:-0.1rem;
}
h7{
    opacity: 0.9;
    font-family: roboto;
    font-weight:400;
    font-size: 1.0rem;
    padding: 0;
    margin:0;
}
h8{
    font-family: roboto;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0;
    margin:0;
}



.descriptionBack{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.8);   
    display: flex;
    justify-content: center;
    overflow: scroll;
    visibility: hidden;
}

main{
    height: 100%;
}

.descriptionPage {
    display: flex;
    min-height: 50rem;
    width:50rem;
    margin: auto;
    margin-top:4rem; 
/*
    margin-top: 4rem;
    margin-bottom: 4.5rem;
*/
    border-radius: 0.4rem;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding:2.2rem 2.1rem 2.5rem 2.1rem ;
}

#top {
    display: flex;
    flex-direction: row;
    width:100%;
    height:4rem;
    justify-content: space-between;
}
#top-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
/*            width:;*/
    height:4rem;
}
#top-right {
    display:flex;
    width:4rem;
    height:4rem;
    justify-content: flex-end;
}

#mid {
    display: flex;
    flex-direction: row;
    width:100%;
    min-height:40rem;
    justify-content: space-between;
}
#bigPoster {
    display: flex;
    flex-direction: row;
    width:62.3%;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
#right {
    display: flex;
    flex-direction: column;
    width:33%;
    justify-content:;
    justify-content: space-between;
}

    #right-top {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
        .description {
            display: flex;
            align-items: left;
            flex-direction: column;
            justify-content: space-between;
        }
#fontSize{
    width:43%;
}
.rowAlign{
    display: flex;
            align-items: left;
            flex-direction: row;
            justify-content: flex-start;
}
    #right-bottom {
        display: flex;
        flex-direction: column;
    }


body {
    overflow-y: scroll;
}

#similarPoster {
    width:100%;
    height: 6.8rem;
    overflow: scroll;
    display:inline-flex;
    flex-flow:row nowrap;
    flex-direction: row;
    justify-content:space-between;
    overflow: visible;

}

.poster-image {
    width:30%;
    height:6.8rem;
    border-radius: 2px;

    box-shadow: -1px 1px 4px rgba(0,0,0,0.1);


}


#preview{
/*    margin-top:1.2rem;*/
    word-wrap:break-word;
    
}
#similar{
    margin-bottom: 0.8rem;
}
#fontPreview{
    opacity: 0.9;
    margin-top:0.5rem;
    font-weight: 100 !important;
    font-size: 1.7rem;
    background-color: rgba(0,0,0,0.03);
    padding: 1rem;
    text-align: center
}
#posterImg{
    width:100% !important;
    height: auto ;

}

